version: 2.1
orbs:
  codecov: codecov/codecov@3.2.2
  gh: circleci/github-cli@1.0
jobs:
  prettier_lint:
    working_directory: ~/login-workflow
    docker:
      - image: cimg/node:18.19.0-browsers
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "login-workflow/yarn.lock" }}
      - run:
          name: Install Dependencies
          command: |
            cd login-workflow
            yarn install --frozen-lockfile
      - save_cache:
          name: Save Cache
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "login-workflow/yarn.lock" }}
      - run:
          name: Prettier Check
          command: |
            cd login-workflow
            yarn prettier:check
      - run:
          name: Lint
          command: |
            cd login-workflow
            yarn lint
  test:
    working_directory: ~/login-workflow
    docker:
      - image: cimg/node:18.19.0-browsers
    parallelism: 4
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "login-workflow/yarn.lock" }}
      - run:
          name: Install Dependencies
          command: |
            cd login-workflow
            yarn install --frozen-lockfile
      - save_cache:
          name: Save Cache
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "login-workflow/yarn.lock" }}
      - run:
          name: Tests
          command: |
            cd login-workflow
            yarn test --maxWorkers=2 --coverage --watchAll=false
      - persist_to_workspace:
          root: .
          paths:
            - login-workflow/coverage
  build_login_workflow:
    working_directory: ~/login-workflow
    docker:
      - image: cimg/node:18.19.0-browsers
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "login-workflow/yarn.lock" }}
      - run:
          name: Install Dependencies
          command: |
            cd login-workflow
            yarn install --frozen-lockfile
      - save_cache:
          name: Save Cache
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "login-workflow/yarn.lock" }}
      - run:
          name: Build
          command: |
            cd login-workflow
            yarn build
      - persist_to_workspace:
          root: .
          paths:
            - login-workflow/lib
  coverage_report:
    working_directory: ~/login-workflow
    docker:
      - image: cimg/node:18.19.0-browsers
    steps:
      - checkout
      - attach_workspace:
          at: .
      - codecov/upload:
          file: './login-workflow/coverage/clover.xml'
          token: CODECOV_TOKEN

  publish_login_workflow:
    docker:
      - image: cimg/node:18.19.0-browsers
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Authenticate with registry
          command: |
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
            echo "//registry.yarnpkg.com/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      - run:
          name: Publish @brightlayer-ui/react-native-auth-workflow
          command: |
            cd login-workflow && yarn publish:package -b $CIRCLE_BRANCH

workflows:
  version: 2
  react_native_workflows:
    jobs:
      - prettier_lint
      - test
      - build_login_workflow
      - publish_login_workflow:
          requires:
            - build_login_workflow
          filters:
            branches:
              only:
                - master
                - dev
      - coverage_report:
          requires:
            - build_login_workflow
          # filters:
          #   branches:
          #     only:
          #       - master
          #       - dev
