name: Build

on:
  push:
    branches: [ "dev", "master" ]
  pull_request:
    branches: [ "dev", "master" ]
  pull_request_target:
    types:
      - opened
    branches:
      - '*/*'

permissions:
  pull-requests: write
  contents: read

jobs:
  prettier_lint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
        cache-dependency-path: login-workflow
    - run: yarn install --immutable
      working-directory: login-workflow
    - run: yarn prettier
      working-directory: login-workflow
    - run: yarn lint
      working-directory: login-workflow

  unit_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
        cache-dependency-path: login-workflow
    - run: yarn --immutable
      working-directory: login-workflow
    - run: yarn test --coverage --watchAll=false
      working-directory: login-workflow
    - name: Upload to Codecov
      uses: codecov/codecov-action@v3
      with:
        directory: ./login-workflow/coverage/
        files: clover.xml
        flags: unittests
        name: codecov-report
        verbose: true

  build_login_workflow:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
        cache-dependency-path: login-workflow
    - run: yarn --immutable
      working-directory: login-workflow
    - run: yarn build
      working-directory: login-workflow
    - name: Save build
      uses: actions/upload-artifact@v3
      with:
        name: lib
        if-no-files-found: error
        path: login-workflow/lib

  publish_login_workflow:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev') }}
    needs: [prettier_lint, unit_test, build_login_workflow]
    strategy:
      matrix:
        node-version: [18.x]
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      BRANCH: ${{ github.ref == 'refs/heads/master' && 'master' || 'dev' }}
    steps:
      - uses: actions/checkout@v4
      - name: Download lib
        uses: actions/download-artifact@v3
        with:
          name: lib
          path: login-workflow/lib
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'
          cache-dependency-path: login-workflow
      - run: yarn --immutable
      - run: npm run publish:package -- -b ${{env.BRANCH}}
        working-directory: login-workflow